body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0;
  padding-top: 40px;
  /* background-image: url("./images/4.jpg"); */
  background: linear-gradient(
      to right,
      rgba(114, 86, 70, 0.3),
      rgba(151, 78, 78, 0.418)
    ),
    url("images/bg.jpg");
  background-size: cover;
  color: white;
}
